*{
    margin: 0%;
    font-family:verdana;
}

header{
    background-color: #6495ed;
    padding:10px;
}

.logo{
    /* background-color: black; */
    width: 20%;
    margin-left : 40px;
}

.tabs{
    width: 40%;
    margin-left:20%;
    /* margin-right:25%; */
}

.tabs a{
    color: white;
    font-size:15px;
    text-decoration: none;
    padding: 8px;
}

.social{
    /* padding:15px; */
    float:right;
    /* background-color: black; */
    width: 15%;
    /* margin-left:auto;*/
    margin-right:40px;
}

.social a{
    padding:15px;
}

.header-image{
    height:20px;
    vertical-align: middle;
}

.logo,.tabs,.social{
    display:inline;
}


.cover{
    background-image: url("../images/homebg.png");
    background-size: 100% 100%;
    /* background-size:contain; */
    display: table;
    width: 100%;
    height:100%;
}

    /* .cover::after{
        content: "";
        clear: both;
        display: table;
    } */

.cover-content{
    /* background-color: black; */
    display: table-cell;
    vertical-align: top;
    padding:100px 60px;
    /* padding:20px; */
    /* margin:20px; */
    /* height:1000px; */
    /* margin-top:-5000px; */
    /* float:left; */
}

.cover-content h1{
    color:white;
    margin:50px;
}

.cover-button{
  text-decoration: none;
  background-color:rgb(73, 73, 201);
  color: white;
  padding: 15px 10px;
  margin-left:40px;
  /* border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC; */
  border-radius:5px;
}

.cover-button:first-of-type{
    background-color:orangered;
}

.cover-image{
    /* background-color: blue; */
    
    display: table-cell;
    padding-bottom:80px;
}

.cover-image img{
    /* display:block; */
    height:500px;
    padding:120px;
    display:block;
}

.features{
    margin-top:70px;
    /* padding:20px; */
}

.features h1{
    text-align: center; 
    font-size: 25px;
    color:#6495ed;
}

.features p{
    text-align: center;
    color:grey;
    margin-top:10px;
    font-size: 15px;
}

.feature{
    display:table;
    width:100%;
}

.feature-image img{
    width:50px;
}

/* .feature-image{
    display:table-cell;
} */



/* .cover-content,.cover-image{
    display:inline-block;
} */