<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Project Page</title>
	</head>
	<body>
		<h2>ALL PROJECTS:</h2>
		<table>
			<tr>
				<th>Id</th>
				<th>Description</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr th:each="project: ${projects}">
				<td th:text="${project.id}">Id</td>
				<td th:text="${project.description}">Description</td>
				<td th:text="${project.startDate}">Start Date</td>
				<td th:text="${project.endDate}">End Date</td>
				<td><a th:href="${'projects/edit?id=' + project.id}" class="btn btn-default">Edit</a></td>
				<td><a th:href="${'projects/delete?id=' + project.id}" class="btn btn-danger">Delete</a></td>
			</tr>
		</table>
		
		<br />
		
		<a th:href="@{projects/add}"> Add Project </a>
	</body>
</html>